[buildout]
extends = test-5.x.cfg

parts +=
    demo
    instance
    robot

[instance]
user = admin:admin

[demo]
# Usage: bin/demo
recipe = zc.recipe.egg
eggs =
    Pillow
    ${test:eggs}
    plone.app.robotframework
initialization =
    import sys
scripts =
    robot-server=demo
